$include-prefers-reduced-motion: true !default;

html, body, h1, h2, h3, h4, h5, h6, p, hr, abbr, address, b, blockquote, cite,
em, i, pre, q, small, strong, sub, sup, template, time, u, form, input, textarea,
button, select, optgroup, option, label, fieldset, legend, datalist, output,
iframe, img, map, area, canvas, figcaption, figure, picture, svg, audio, source,
track, video, a, nav, ul, ol, li, dl, dt, dd, table, caption, th, tr, td, thead,
tbody, tfoot, col, colgroup, div, span, header, footer, main, section, article,
aside, details, dialog, summary, data, object, embed {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@if $include-prefers-reduced-motion {
  // Remove all animations, transitions and smooth scroll.
  // The `!important` is required and should not be removed.
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}
