.ken-burns-pan-down-right {
  @extend %ken-burns;
  animation-name: ken-burns-pan-down-right;
}

@keyframes ken-burns-pan-down-right {
  from {
    transform:
      translate(0, 0)
      scale($ken-burns-image-scale-base);
  }

  to {
    transform:
      translate($ken-burns-translate-x, $ken-burns-translate-y)
      scale($ken-burns-image-scale-down);
  }
}
