$ken-burns-duration: 5s !default;

$ken-burns-image-scale-base: 1.2 !default;
$ken-burns-image-scale-down: 1.1 !default;
$ken-burns-image-scale-up  : 1.3 !default;

$ken-burns-translate-x: 30px !default;
$ken-burns-translate-y: 6px !default;

%ken-burns {
  animation-duration       : $ken-burns-duration;
  animation-timing-function: ease-in-out;
  animation-fill-mode      : forwards;
}
