@mixin responsive-video($padding-bottom: 56.25%) {
  position: relative;
  padding-bottom: $padding-bottom;
  height: 0;

  iframe,
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

%responsive-video {
  @include responsive-video();
}
