@use "sass:list";
@use "sass:map";
@use "sass:math";
@use "sass:string";

@use "./to-unit" as *;

/// Take the given $value and converts it into a number.
///
/// @author Steven Keiser
///
/// @param {string|number} $value
///   The value to be converted.
///
/// @require {function} to-unit
///
/// @return {number}
///   The $value as a number.

@function to-number($value) {
  @if type-of($value) == 'number' {
    @return $value;
  }

  @if type-of($value) != 'string' {
    @error 'The argument $value: `#{ $value }` is not a string.';
  }

  $result: 0;
  $digits: 0;
  $minus: string.slice($value, 1, 1) == '-';
  $numbers: (
    '0': 0,
    '1': 1,
    '2': 2,
    '3': 3,
    '4': 4,
    '5': 5,
    '6': 6,
    '7': 7,
    '8': 8,
    '9': 9
  );

  @for $i from if($minus, 2, 1) through string.length($value) {
    $character: string.slice($value, $i, $i);

    @if not (list.index(map.keys($numbers), $character) or $character == '.') {
      @return to-unit(if($minus, -$result, $result), string.slice($value, $i));
    }

    @if $character == '.' {
      $digits: 1;
    }
    @else if $digits == 0 {
      $result: $result * 10 + map.get($numbers, $character);
    }
    @else {
      $digits: $digits * 10;
      $result: $result + math.div(map.get($numbers, $character), $digits);
    }
  }

  @return if($minus, -$result, $result);
}
