@use "sass:list";
@use "sass:map";
@use "sass:math";

@use "./strip-unit" as *;

/// Applies the $unit to the $number.
///
/// @author Steven Keiser
///
/// @param {number} $number
///   The number to apply the unit to.
/// @param {string} $unit
///   The unit to be applied.
///
/// @return {number}
///   The $number displayed with the $unit.

@function to-unit($number, $unit) {
  $units: (
    'px': 1px,
    'cm': 1cm,
    'mm': 1mm,
    '%': 1%,
    'ch': 1ch,
    'pc': 1pc,
    'in': 1in,
    'em': 1em,
    'rem': 1rem,
    'pt': 1pt,
    'ex': 1ex,
    'vw': 1vw,
    'vh': 1vh,
    'vmin': 1vmin,
    'vmax': 1vmax,
    'fr': 1fr
  );

  @if type-of($number) != 'number' {
    @error 'The argument $number: `#{ $number }` is not a number.';
  }

  @if not math.is-unitless($number) {
    @error 'The argument $number: `#{ $number }` already has a unit, `#{ math.unit($number) }`.';
  }

  @if not list.index(map.keys($units), $unit) {
    @error 'The argument $unit: `#{ $unit }` is not a valid css unit.';
  }

  @return $number * map.get($units, $unit);
}
