/// Hide visually, but not from screen readers. Line feeds are not interpreted
/// as spaces and small width causes content to wrap 1 word per line.
///
/// @group visibility
///
/// @link https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
/// @link https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe

@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

%visually-hidden {
  @include visually-hidden();
}
